.klocwork/
_bin32/
_bin64/
build/
builds/
Builds/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*~
*.aps
*.bmp
*.ncb
*.opensdf
*.pal
*.png
*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xcf
*.so
